.scroller-container {
    background-color: #000;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.scroller-content {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-shrink: 0;
    width: max-content;
    animation: scroll-left 4s linear infinite;
}

// /* Hover: tạm dừng */
// .scroller-container:hover .scroller-content {
//     animation-play-state: paused;
// }

/* Logo */
.logo {
    height: 30px;
    max-width: none;
    user-select: none;
    pointer-events: none;
    color: white;
}

.brand-name {
    height: 28px;
    max-width: none;
    user-select: none;
    pointer-events: none;
    color: white;
}

/* Cuộn vô tận */
@keyframes scroll-left {
    0% {
        transform: translateX(0.4%);
    }

    100% {
        transform: translateX(-8%); // ✅ fix lỗi bị trống
    }
}

/* Hiệu ứng mờ mép */
.scroller-container::before,
.scroller-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 2;
}

.scroller-container::before {
    left: 0;
    background: linear-gradient(to right, #000 0%, transparent 100%);
}

.scroller-container::after {
    right: 0;
    background: linear-gradient(to left, #000 0%, transparent 100%);
}