/* Trong file styles.css hoặc file global tương tự */
/* Toàn bộ thanh cuộn */
::-webkit-scrollbar {
    width: 8px;
    /* chiều rộng thanh cuộn dọc */
    height: 8px;
    /* chiều cao thanh cuộn ngang */
}

/* Phần rãnh nền */
::-webkit-scrollbar-track {
    background: #272727;
}

/* Phần thanh trượt */
::-webkit-scrollbar-thumb {
    background: #868686;
    border-radius: 10px;
}

/* Khi hover vào thanh trượt */
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

html {
    /* Giữ lại thanh cuộn ở đây, nhưng dùng 'auto' sẽ tốt hơn. */
    /* 'auto' chỉ hiện thanh cuộn khi nội dung thực sự dài hơn màn hình. */
    overflow-y: auto;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    /* XÓA BỎ các thuộc tính overflow-y và height từ body */
}

/* Các đoạn mã @font-face của bạn giữ nguyên */
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../public/assets/fonts/SVN-Gilroy\ Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../public/assets/fonts/SVN-Gilroy\ SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}