<header class="main-header">
    <nav class="navbar">
        <!-- <a class="navbar-brand" routerLink="/">{{ title }}</a> -->
        <img src="assets/branding/brand-name.svg" alt="Logo" />
        <ul class="nav-links">
            <li>
                <a routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>
            <li>
                <a routerLink="/github" routerLinkActive="active-link">GitHub Repos</a>
            </li>
            <li>
                <a routerLink="/admin" routerLinkActive="active-link">Admin</a>
            </li>
        </ul>
    </nav>
</header>