<header class="main-header">
    <app-scrolling-bar *ngIf="!isSticky"></app-scrolling-bar>

    <div class="header-container" [ngClass]="{
                'layout-top': !isSticky,
                'layout-sticky': isSticky,
                
                'header-transparent': isTransparent && !isSticky,
                'header-solid': !isTransparent || isSticky
             }">

        <div class="header-left" (click)="isDrawerOpen = true">
            <mat-icon svgIcon="menu" class="menu-icon"></mat-icon>
        </div>

        <div class="header-center">
            <a routerLink="/" class="brand-name">
                <mat-icon svgIcon="brand_name" class="brand-icon"></mat-icon>
            </a>

            <ul *ngIf="!isSticky" class="nav-links">
                <li>
                    <a routerLink="/shop" routerLinkActive="active-link">SHOP</a>
                </li>
                <li>
                    <a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a>
                </li>
                <li>
                    <a routerLink="/collection" routerLinkActive="active-link">COLLECTION</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active-link">CONTACT</a>
                </li>
            </ul>
        </div>

        <div class="header-right user-menu">
            <div class="person-button right-button">
                <ng-icon name="tdesignUser1Filled" class="user-menu-icon" />
            </div>
            <div class="cart-button right-button">
                <ng-icon name="tdesignCartFilled" class="user-menu-icon" />
            </div>
        </div>
    </div>
    <!-- Drawer Instance -->
    <!-- Drawer Instance -->
    <app-drawer [(isOpen)]="isDrawerOpen" position="left" size="m">
        <nav>
            <app-menu-item-accordion title="SHOP" link="/shop"></app-menu-item-accordion>

            <app-menu-item-accordion title="ABOUT US" link="/about-us"></app-menu-item-accordion>

            <app-menu-item-accordion title="COLLECTION" [subItems]="[
              { label: 'Daily', link: '/collection/daily' },
              { label: 'Training', link: '/collection/training' }
            ]" [drawerOpen]="isDrawerOpen"></app-menu-item-accordion>

            <app-menu-item-accordion title="CONTACT" link="/contact"></app-menu-item-accordion>
        </nav>
    </app-drawer>
</header>