<header class="main-header">
    <app-scrolling-bar></app-scrolling-bar>
    <div class="header-container" [ngClass]="{
             'header-transparent': isTransparent, 
             'header-solid': !isTransparent
           }">
        <div (click)="isDrawerOpen = true">
            <mat-icon svgIcon="menu" class="menu-icon"></mat-icon>
        </div>
        <nav class="navbar">
            <!-- <a class="navbar-brand" routerLink="/">{{ title }}</a> -->
            <!-- <mat-icon svgIcon="my_brand_name" class="my_brand_name"></mat-icon> -->
            <a routerLink="/" class="brand-name">
                <mat-icon svgIcon="brand_name" class="brand-icon"></mat-icon>
            </a>
            <ul class="nav-links">
                <li>
                    <a routerLink="/shop" routerLinkActive="active-link">SHOP</a>
                </li>
                <li>
                    <a routerLink="/about-us" routerLinkActive="active-link">ABOUT US</a>
                </li>
                <li>
                    <a routerLink="/collection" routerLinkActive="active-link">COLLECTION</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active-link">CONTACT</a>
                </li>
            </ul>
        </nav>
        <div class="user-menu">
            <div class="person-button right-button">
                <ng-icon name="tdesignUser1Filled" class="user-menu-icon" />
                <!-- <mat-icon svgIcon="person" class="person-icon"></mat-icon> -->
            </div>

            <div class="cart-button right-button">
                <ng-icon name="tdesignCartFilled" class="user-menu-icon" />
                <!-- <mat-icon svgIcon="person" class="person-icon"></mat-icon> -->
            </div>
        </div>
    </div>
    <!-- Drawer Instance -->
    <!-- Drawer Instance -->
    <app-drawer [(isOpen)]="isDrawerOpen" position="left" size="m">
        <nav>
            <app-menu-item-accordion title="SHOP" link="/shop"></app-menu-item-accordion>

            <app-menu-item-accordion title="ABOUT US" link="/about-us"></app-menu-item-accordion>

            <app-menu-item-accordion title="COLLECTION" [subItems]="[
              { label: 'Daily', link: '/collection/daily' },
              { label: 'Training', link: '/collection/training' }
            ]" [drawerOpen]="isDrawerOpen"></app-menu-item-accordion>

            <app-menu-item-accordion title="CONTACT" link="/contact"></app-menu-item-accordion>
        </nav>
    </app-drawer>
</header>